<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form
            action="/api/short_video.get/"
            method="post"
    >
        <p><b>Введите ссылку на видео и искомое слово</b></p>
        <p>
            <label>
                <span>Ссылка на видео Youtube</span>
                <input name="video_link">
            </label>
        </p>
        <p>
        <label>
            <span>Слово</span>
            <input name="word">
        </label>
        </p>
        <p><input type="submit"></p>
    </form>
</body>
</html>